body {
    font-family: "Roboto Mono", monospace;
    color: white;
    background-color: black;
    margin: 0;
    padding: 0;
}

/*header stuff*/

.head {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    top: 0;
}

.head a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}


#home {
    margin-left: 0.5rem;
    justify-content: none;
    margin-right: auto;
    font-size: 1.5rem;
} 

.head img {
    width: 3.5rem;
    height: 3.5rem;
    margin-left: 0.5rem;
    margin-right: 0.25rem;
}


.head ul {
    display: flex;
    gap: 2rem;
    padding-right: 1.5rem;
    list-style: none;
}


.head nav {
    margin-left: auto;
}

/*footer stuff*/

.foot {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 0;
}

/* main stuff */


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 10%;
    margin-right: 10%;

}

main div {
    margin-top: 2rem;
    margin-bottom: 2rem; 
}

main * {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem; 
}

/* h1 stuff */

h1 {
    font-size: 2rem;
    text-align: center;
    justify-content: center;
}

@media screen and (max-width: 768px){
    .head {
        font-size: 0.8rem;
    }

    .head nav ul {
        gap: 0.75rem;
    }
    
}